{% extends 'templates/base.html' %}


{% block content %}

	<div class="about">
		<p>Wissahickon Cyclery was born 20 years ago with a rather simple goal—helping you, the customer, find the right product for your cycling needs. You may just want to enjoy a simple weekend ride with your children, or you may be an expert level cyclist who wants to take your experience to another level. We're here to help you.</p>

		<p>We are proud to have a knowledgeable staff with a passion for cycling. Few shops possess the depth of knowledge and the right tools to service your bicycle the way Wissahickon Cyclery does.</p>
	</div>

{% endblock %}