.footer
	background-color: $footerBGColor
	color: $footerFontColor
	margin: 0
	padding: 15px
	text-align: center
	width: auto
	
.footer-link
	color: $footerLinkColor
	text-decoration: underline
	
.footer--nav-list
	font-size: 0
	list-style: none
	margin: 15px 0 0
	padding: 0
	
.footer--nav-list__item
	display: inline-block
	font-size: 100%
	max-width: 75px
	padding: 0 0.5%
	width: 20%