.header
	background: $bodyBGColor
	display: block
	margin: 0
	overflow: hidden
	padding: 10px 0 0
	position: relative
	width: auto
	
.header--logo
	background: url($imgPath + 'wiss-cycles-logo.png') no-repeat 50% 50%
	background-size: contain
	display: block
	height: auto
	margin: 0
	max-width: $pageContentMaxWidth
	min-height: 35px
	padding: 0
	text-indent: -999em
	width: auto

.header-details
	display: block
	margin: 5px 0
	overflow: hidden
	padding: 0 3px
	position: relative

.navigation-item
	display: block
	fontSize(14px)
	list-style: none
	margin: 0
	padding: 0

.header-details--location
	float: left

	span
		display: block

.header-details--phone
	float: right

.current-hours
	text-align: center

	.day,
	.hours
		display: inline-block
		padding: 0 2.5px

+above(22.5em)
	.navigation-item
		fontSize(15px)

+above(28.75em)
	.header-details--location
		span
			display: inline

+above(31.25em)
	.header--logo
		background-image: url($imgPath + 'wiss-cycles-logo--medium.png')
		min-height: 55px

+above(48em)
	.header--logo
		background-image: url($imgPath + 'wiss-cycles-logo--wide.png')
		min-height: 85px

+above(72em)
	.header
		padding: 10px 0
