.hours
	display: block
	margin-bottom: 25px
	overflow: hidden

.hours-list
	display: block

.hours-list--day
	clear: left
	color: $link-color
	display: block
	float: left

	&.current
		font-weight: bold

.hours-list--hours
	clear: right
	display: block
	float: left
	padding-left: 10px

	&.current
		font-weight: bold