.icon
	display: inline-block

// define custom icons here	
.icon--instagram
	background: url($imgPath + 'icons/instagram.png') no-repeat 0 0
	background-size: cover
	imageReplace(40px, 40px)

.icon--facebook
	background: url($imgPath + 'icons/facebook.png') no-repeat 0 0
	background-size: cover
	imageReplace(40px, 40px)

.icon--phone
	background: url($imgPath + 'icons/phone.png') no-repeat 0 0
	background-size: cover
	imageReplace(40px, 40px)

.icon--location
	background: url($imgPath + 'icons/location.png') no-repeat 0 0
	background-size: cover
	imageReplace(40px, 40px)
	
.icon--email
	background: url($imgPath + 'icons/email.png') no-repeat 0 0
	background-size: cover
	imageReplace(40px, 40px)
