.page-wrapper
	background: $bodyBGColor
	overflow: hidden
	margin: 0
	padding: 10px 0
	width: 100%
	z-index: 5

.mobile-only
	display: block !important

.desktop-only,
.wide-only
	display: none !important

.container
	margin: 0 auto
	max-width: $pageContentMaxWidth
	padding: $pagePadding
	position: relative

.page-section
	margin: 0 0 25px

.page-content
	position: relative
	width: 100%
	z-index: 1

.sidebar
	display: block
	position: relative
	width: 100%
	z-index: 5

.facebook,
.map
	display: none
	margin-bottom: 25px

+above(40em)
	.mobile-only
		display: none !important

	.desktop-only
		display: initial !important

	.page-content
		padding-right: 18.75em
		position: absolute
		width: 100%

	.sidebar
		display: block
		float: right
		width: 12.5em

+above(48em)
	.wide-only
		display: initial !important

	.page-content
		padding-right: 26.25em

	.sidebar
		display: block
		float: right
		width: 21.875em

	.map
		display: block
		width: 100%

		iframe
			max-width: 100% !important

+above(64em)
	.page-content
		padding-right: 31.25em

	.sidebar
		display: block
		float: right
		width: 28.125em

	.facebook
		display: block
		height: 450px
		width: 100%
