// Converts px to rems
// Expects pixel amount
// EX: fontSize(14px)
fontSize(value)
    font-size value
    font-size (value/16) rem

// Indents text for use with a background image with screen reader support
// You may add width or height
// EX: imageReplace(50px, 50px)
imageReplace(height, width)
	height: height
	margin: 0
	overflow: hidden
	text-indent: 110%
	white-space: nowrap
	width: width