<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="css/main.css">
        <title>Wissahickon Cyclery</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <script type="text/javascript" src="js/modernizr.js"></script>
	</head>
	<body>
        <div class="beacon"></div>
        <div id="fb-root"></div>

        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '580516482089303',
              xfbml      : true,
              version    : 'v2.4'
            });
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>

        {% include "../modules/header.html" %}
		<div id="page-wrapper" class="page-wrapper">
            <div class="container">
                <div id="main" class="page-content" role="main">
                    {% block content %}
                    {% endblock %}

                    {% include "../modules/brands.html" %}

                    <div class="facebook">
                        {% include "../modules/facebook.html" %}
                    </div>
                </div>

                <div id="sidebar" class="sidebar">
                    {% include "../modules/hours.html" %}
                    <div class="map">
                        {% include "../modules/map.html" %}
                    </div>
                </div>
            </div>
        </div>

        {% include "../modules/footer.html" %}

        <script src="/js/jquery.js"></script>
        <script src="/js/main.js"></script>
	</body>
</html>