/*  -----------------------------------
    File Paths
    ----------------------------------- */
    
$imgPath = '/img/'
$fontPath = '/fonts/'

/*  -----------------------------------
    Colors
    ----------------------------------- */

$bodyBGColor = #fafafa
$bodyFontColor = #6d6e70
$headerBGColor = transparent
$headerFontColor = #6d6e70
$navBGColor = transparent
$navFontColor = #6d6e70
$navActiveBGColor = transparent
$navActiveFontColor = #14416f
$link-color = #14416f
$module-divider = #cccccc
$footerBGColor = #14416f
$footerFontColor = #6d6e70
$footerLinkColor = #14416f


/*  -----------------------------------
    Fonts
    ----------------------------------- */

// font files are listed in core/_fonts.styl

$siteFontStack = 'Helvetica Neue', Helvetica, Arial, sans-serif


/*  -----------------------------------
    Widths and Padding
    ----------------------------------- */

$pageContentMaxWidth = 72em
$pagePadding = 0 1.25rem